
.chatbox{
  background-color: aqua;
  padding: 1rem;
  margin: 1rem 0;
  border: 2px solid gray;
}
.container{
  display: flex;
}
.container.me{
  flex-direction: row-reverse;
}
.me .chatbox{
  background-color: darkblue;
  color: wheat;
}
.btn{
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
}
.btn input{
  flex: 1 1;
  padding: 1rem;
}
.btn button{
  flex: 0.3 1;
}
.chat-container{
  height: 80vh;
  overflow-y: scroll;
  border: 1px solid black;
}